<a href="https://colab.research.google.com/github/Mohamed-ASHO-Hassan/WideBot-data-Binary-classification/blob/master/Binary_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import zipfile
zip_ref = zipfile.ZipFile("/content/drive/My Drive/binary_classifier_data.zip", 'r')
zip_ref.extractall("/content/Data_set/")

In [ ]:
import csv
import numpy as np
import pandas as pd
import pandas as pd
from sklearn import preprocessing

In [ ]:
training_set=[]
validation_set=[]

################################################-->>extract and visualize data from csv file 
with open('/content/Data_set/training.csv', 'r') as file:

    reader = csv.reader(file, delimiter=';', quotechar='|')
    
    for row in reader:
        training_set.append(row)


with open('/content/Data_set/validation.csv', 'r') as file:

    reader = csv.reader(file, delimiter=';', quotechar='|')
    
    for row in reader:
        validation_set.append(row)  

################################################-->>replace ',' by '.' to enable float conversion
training_set=np.char.replace(np.array(training_set),',','.')
validation_set=np.char.replace(np.array(validation_set),',','.')

################################################-->>remove NAN entries from the dataset
for i in range(0,17):

  nan_list=np.where(training_set[:,i]=='NA')[0]
  df=pd.DataFrame(training_set)
  training_set=np.array(df.drop(nan_list))
  
x_training=np.array(training_set[1:3701,0:18])
y_training=np.array(training_set[1:3701:,17:18])
print(x_training.shape)
print(y_training.shape)
df.head()

for i in range(0,17):

  nan_list=np.where(validation_set[:,i]=='NA')[0]
  df=pd.DataFrame(validation_set)
  validation_set=np.array(df.drop(nan_list))
  
x_validation=np.array(validation_set[1:3701,0:18])
y_validation=np.array(validation_set[1:3701:,17:18])
print(x_validation.shape)
print(y_validation.shape)
df.head()

(1463, 18)
(1463, 1)
(84, 18)
(84, 1)

            0            1   ...            17            18
0  "variable1"  "variable2"  ...  "variable19"  "classLabel"
1          "b"        32.33  ...             1         "no."
2          "b"        23.58  ...             0         "no."
3          "b"        36.42  ...             1         "no."
4          "b"        18.42  ...             0         "no."

[5 rows x 19 columns]

In [ ]:
################################################-->>visualizing unique entries of each variable
for i in range (0,17):
  test=np.unique(np.array(x_training)[:,i])
  #print(test)

In [ ]:
################################################-->>integer convesion of string variables (training set )

###############################################variable 1
for i in range (0,1463):

  if (x_training[i,0]=='"a"'):
    x_training[i,0]=-1.0

  if (x_training[i,0]=='"b"'):
    x_training[i,0]=1

###############################################variable 4
for i in range (0,1463):

  if (x_training[i,3]=='"l"'):
    x_training[i,3]=-1

  if (x_training[i,3]=='"u"'):
    x_training[i,3]=0  

  if (x_training[i,3]=='"y"'):
    x_training[i,3]=1  

###############################################variable 5
for i in range (0,1463):

  if (x_training[i,4]=='"g"'):
    x_training[i,4]=-1

  if (x_training[i,4]=='"gg"'):
    x_training[i,4]=0  

  if (x_training[i,4]=='"p"'):
    x_training[i,4]=1      

###############################################variable 6
for i in range (0,1463):

  if (x_training[i,5]=='"W"'):
    x_training[i,5]=-7
   

  if (x_training[i,5]=='"aa"'):
    x_training[i,5]=-6 

  if (x_training[i,5]=='"c"'):
    x_training[i,5]=-5   

  if (x_training[i,5]=='"cc"'):
    x_training[i,5]=-4

  if (x_training[i,5]=='"d"'):
    x_training[i,5]=-3 

  if (x_training[i,5]=='"e"'):
    x_training[i,5]=-2   

  if (x_training[i,5]=='"ff"'):
    x_training[i,5]=-1

  if (x_training[i,5]=='"i"'):
    x_training[i,5]=0  

  if (x_training[i,5]=='"j"'):
    x_training[i,5]=1    

  if (x_training[i,5]=='"k"'):
    x_training[i,5]=2

  if (x_training[i,5]=='"m"'):
    x_training[i,5]=3  

  if (x_training[i,5]=='"q"'):
    x_training[i,5]=4     

  if (x_training[i,5]=='"r"'):
    x_training[i,5]=5  

  if (x_training[i,5]=='"x"'):
    x_training[i,5]=6    
  

###############################################variable 7
for i in range (0,1463):

  if (x_training[i,6]=='"bb"'):
    x_training[i,6]=-4

  if (x_training[i,6]=='"dd"'):
    x_training[i,6]=-3 

  if (x_training[i,6]=='"ff"'):
    x_training[i,6]=-2   

  if (x_training[i,6]=='"h"'):
    x_training[i,6]=-1

  if (x_training[i,6]=='"j"'):
    x_training[i,6]=0  

  if (x_training[i,6]=='"n"'):
    x_training[i,6]=1   

  if (x_training[i,6]=='"o"'):
    x_training[i,6]=2

  if (x_training[i,6]=='"v"'):
    x_training[i,6]=3  

  if (x_training[i,6]=='"z"'):
    x_training[i,6]=4    
  
  

###############################################variable 8
for i in range (0,1463):

  if (x_training[i,8]=='"f"'):
    x_training[i,8]=-1

  if (x_training[i,8]=='"t"'):
    x_training[i,8]=1

###############################################variable 9
for i in range (0,1463):

  if (x_training[i,9]=='"f"'):
    x_training[i,9]=-1

  if (x_training[i,9]=='"t"'):
    x_training[i,9]=1            

###############################################variable 12
for i in range (0,1463):

  if (x_training[i,11]=='"f"'):
    x_training[i,11]=-1

  if (x_training[i,11]=='"t"'):
    x_training[i,11]=1        

###############################################variable 13
for i in range (0,1463):

  if (x_training[i,12]=='"g"'):
    x_training[i,12]=-1

  if (x_training[i,12]=='"p"'):
    x_training[i,12]=0        

  if (x_training[i,12]=='"s"'):
    x_training[i,12]=1     

###############################################variable 18
for i in range (0,1463):

  if (x_training[i,16]=='"f"'):
    x_training[i,16]=-1

  if (x_training[i,16]=='"t"'):
    x_training[i,16]=1  

###############################################y


y_training_n=y_training.astype('int')
    

######################################################################normalize all the variables

df=pd.DataFrame(x_training.astype('float64'))
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
x_training_n=x_scaled
df.head()

    0         1         2    3    4   ...        13       14        15   16   17
0  0.0  0.037628  0.019286  0.5  0.0  ...  0.095238  0.00005  0.095238  1.0  0.0
1  1.0  0.268771  0.040179  0.5  0.0  ...  0.114286  0.00019  0.114286  1.0  0.0
2  1.0  0.287498  0.125000  0.5  0.0  ...  0.276190  0.00000  0.276190  0.0  0.0
3  0.0  0.330848  0.044643  1.0  1.0  ...  0.190476  0.00000  0.190476  0.0  0.0
4  0.0  0.156060  0.488036  0.5  0.0  ...  0.333333  0.00001  0.333333  0.0  0.0

[5 rows x 18 columns]

In [ ]:
################################################-->>integer convesion of string variables (validation set )

###############################################variable 1
for i in range (0,84):

  if (x_validation[i,0]=='"a"'):
    x_validation[i,0]=-1.0

  if (x_validation[i,0]=='"b"'):
    x_validation[i,0]=1

###############################################variable 4
for i in range (0,84):

  if (x_validation[i,3]=='"l"'):
    x_validation[i,3]=-1

  if (x_validation[i,3]=='"u"'):
    x_validation[i,3]=0  

  if (x_validation[i,3]=='"y"'):
    x_validation[i,3]=1  

###############################################variable 5
for i in range (0,84):

  if (x_validation[i,4]=='"g"'):
    x_validation[i,4]=-1

  if (x_validation[i,4]=='"gg"'):
    x_validation[i,4]=0  

  if (x_validation[i,4]=='"p"'):
    x_validation[i,4]=1      

###############################################variable 6
for i in range (0,84):

  if (x_validation[i,5]=='"W"'):
    x_validation[i,5]=-7
   

  if (x_validation[i,5]=='"aa"'):
    x_validation[i,5]=-6 

  if (x_validation[i,5]=='"c"'):
    x_validation[i,5]=-5   

  if (x_validation[i,5]=='"cc"'):
    x_validation[i,5]=-4

  if (x_validation[i,5]=='"d"'):
    x_validation[i,5]=-3 

  if (x_validation[i,5]=='"e"'):
    x_validation[i,5]=-2   

  if (x_validation[i,5]=='"ff"'):
    x_validation[i,5]=-1

  if (x_validation[i,5]=='"i"'):
    x_validation[i,5]=0  

  if (x_validation[i,5]=='"j"'):
    x_validation[i,5]=1    

  if (x_validation[i,5]=='"k"'):
    x_validation[i,5]=2

  if (x_validation[i,5]=='"m"'):
    x_validation[i,5]=3  

  if (x_validation[i,5]=='"q"'):
    x_validation[i,5]=4     

  if (x_validation[i,5]=='"r"'):
    x_validation[i,5]=5  

  if (x_validation[i,5]=='"x"'):
    x_validation[i,5]=6    
  

###############################################variable 7
for i in range (0,84):

  if (x_validation[i,6]=='"bb"'):
    x_validation[i,6]=-4

  if (x_validation[i,6]=='"dd"'):
    x_validation[i,6]=-3 

  if (x_validation[i,6]=='"ff"'):
    x_validation[i,6]=-2   

  if (x_validation[i,6]=='"h"'):
    x_validation[i,6]=-1

  if (x_validation[i,6]=='"j"'):
    x_validation[i,6]=0  

  if (x_validation[i,6]=='"n"'):
    x_validation[i,6]=1   

  if (x_validation[i,6]=='"o"'):
    x_validation[i,6]=2

  if (x_validation[i,6]=='"v"'):
    x_validation[i,6]=3  

  if (x_validation[i,6]=='"z"'):
    x_validation[i,6]=4    
  
  

###############################################variable 8
for i in range (0,84):

  if (x_validation[i,8]=='"f"'):
    x_validation[i,8]=-1

  if (x_validation[i,8]=='"t"'):
    x_validation[i,8]=1

###############################################variable 9
for i in range (0,84):

  if (x_validation[i,9]=='"f"'):
    x_validation[i,9]=-1

  if (x_validation[i,9]=='"t"'):
    x_validation[i,9]=1            

###############################################variable 12
for i in range (0,84):

  if (x_validation[i,11]=='"f"'):
    x_validation[i,11]=-1

  if (x_validation[i,11]=='"t"'):
    x_validation[i,11]=1        

###############################################variable 13
for i in range (0,84):

  if (x_validation[i,12]=='"g"'):
    x_validation[i,12]=-1

  if (x_validation[i,12]=='"p"'):
    x_validation[i,12]=0        

  if (x_validation[i,12]=='"s"'):
    x_validation[i,12]=1     

###############################################variable 18
for i in range (0,84):

  if (x_validation[i,16]=='"f"'):
    x_validation[i,16]=-1

  if (x_validation[i,16]=='"t"'):
    x_validation[i,16]=1  

###############################################y


y_validation_n=y_validation.astype('int')
    

######################################################################normalize all the variables

df=pd.DataFrame(x_validation.astype('float64'))
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
x_validation_n=x_scaled
df.head()

    0         1         2    3    4   ...        13        14        15   16   17
0  1.0  0.141049  0.531593  1.0  1.0  ...  0.166667  0.072079  0.166667  0.0  1.0
1  0.0  0.380733  0.159458  0.0  0.0  ...  0.666667  0.000000  0.666667  0.0  0.0
2  1.0  0.224560  0.189356  0.0  0.0  ...  0.638889  0.010319  0.638889  1.0  0.0
3  1.0  0.189051  0.498306  0.0  0.0  ...  1.000000  0.000000  1.000000  0.0  1.0
4  1.0  0.058853  0.382101  0.0  0.0  ...  0.111111  0.053111  0.111111  0.0  1.0

[5 rows x 18 columns]

In [ ]:
################################################-->>trining Binary classifier
from keras import models
from keras import layers
###########################################

network = models.Sequential()
network.add(layers.Dense(24, activation='relu', input_shape=(18,)))
network.add(layers.Dense(1, activation='sigmoid'))
network.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])


network.fit(x_training_n, y_training_n, epochs=10, batch_size=3,validation_data=(x_validation_n, y_validation_n))

Epoch 1/10
488/488 [==============================] - 1s 1ms/step - loss: 0.2805 - accuracy: 0.8469 - val_loss: 0.6013 - val_accuracy: 0.5952
Epoch 2/10
488/488 [==============================] - 1s 1ms/step - loss: 0.0696 - accuracy: 0.9720 - val_loss: 0.3584 - val_accuracy: 0.7857
Epoch 3/10
488/488 [==============================] - 1s 1ms/step - loss: 0.0237 - accuracy: 0.9979 - val_loss: 0.2100 - val_accuracy: 0.9048
Epoch 4/10
488/488 [==============================] - 1s 1ms/step - loss: 0.0103 - accuracy: 1.0000 - val_loss: 0.1557 - val_accuracy: 0.9167
Epoch 5/10
488/488 [==============================] - 1s 1ms/step - loss: 0.0052 - accuracy: 1.0000 - val_loss: 0.1014 - val_accuracy: 0.9762
Epoch 6/10
488/488 [==============================] - 1s 1ms/step - loss: 0.0030 - accuracy: 1.0000 - val_loss: 0.0792 - val_accuracy: 0.9881
Epoch 7/10
488/488 [==============================] - 1s 1ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 0.0563 - val_accuracy: 0.9881
Epoch 8/10
488/488 [==============================] - 1s 1ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0408 - val_accuracy: 1.0000
Epoch 9/10
488/488 [==============================] - 1s 1ms/step - loss: 7.7534e-04 - accuracy: 1.0000 - val_loss: 0.0331 - val_accuracy: 1.0000
Epoch 10/10
488/488 [==============================] - 1s 1ms/step - loss: 5.2232e-04 - accuracy: 1.0000 - val_loss: 0.0266 - val_accuracy: 1.0000